<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Тест по компетенции</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-static/">

    <!-- Bootstrap core CSS -->
    <link href="./skill-description_files/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./skill-description_files/navbar-top.css" rel="stylesheet">
   <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>S</text></svg>">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
	</head>

	<style>
    	.btn{
	background-color: #35393d;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	}

    	.btn:hover {
    		background: #102863;
    }
	</style>

	<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Skilltopia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">О нас<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Профиль</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search" wfd-id="id0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

		<form>
		<fieldset>
	    <legend>Что такое "баг" в программном обеспечении?</legend>
	     <div>
	      	<input
	        type="radio"
	        id="question1Var1"
	        name="question1"
	        value="Die"
	        checked />
	      	<label for="question1Var1">a) Ошибка в коде, которая приводит к неправильной работе программы</label>
		     <br>

	      	<input type="radio" id="question1Var2" name="question1" value="Crush" />
	      	<label for="question1Var2"> b) Нежелательная функция, которую разработчики не планировали добавлять</label>
		     <br>

	      	<input type="radio" id="question1Var3" name="question1" value="Prepare myself" />
	      	<label for="question1Var3">c) Ошибка, которая не влияет на работу программы, но мешает пользователю</label>
		     <br>
		  
	     	<input type="radio" id="question1Var4" name="question1" value="Creature of steel" />
	      <label for="question1Var3">d) Все вышеперечисленное</label>
	    </div>
		</fieldset>
		
		<fieldset>
		<legend>вопрос</legend>
	    <div>
	      <input
	        type="radio"
	        id="question2Var1"
	        name="question2"
	        value="HAHAHAHAHA"
	        checked />
	          <label for="question2Var1">ответ 1</label>

	      <input type="radio" id="question2Var2" name="question2" value="Crush" />
	      <label for="question1Var2">ответ 2</label>

	      <input type="radio" id="question2Var3" name="question2" value="Prepare myself" />
	      <label for="question1Var3">ответ 3</label>
		  
		  <input type="radio" id="question2Var4" name="question2" value="Creature of steel" />
	      <label for="question1Var3">ответ 4</label>
	    </div>
		</fieldset> 
		
		<fieldset>
	    <legend>вопрос</legend>
	    <div>
	      <input
	        type="radio"
	        id="question3Var1"
	        name="question3"
	        value="Die"
	        checked />
	          <label for="question2Var1">ответ 1</label>

	      <input type="radio" id="question2Var2" name="question2" value="Crush" />
	      <label for="question1Var2">ответ 2</label>

	      <input type="radio" id="question2Var3" name="question2" value="Prepare myself" />
	      <label for="question1Var3">ответ 3</label>
		  
		  <input type="radio" id="question2Var4" name="question2" value="Creature of steel" />
	      <label for="question1Var3">ответ 4</label>
	    </div>
		</fieldset>
			
		<fieldset>
	    <legend>вопрос</legend>
	    <div>
	      <input
	        type="radio"
	        id="question4Var1"
	        name="question4"
	        value="Die"
	        checked />
	           <label for="question2Var1">ответ 1</label>

	      <input type="radio" id="question2Var2" name="question2" value="Crush" />
	      <label for="question1Var2">ответ 2</label>

	      <input type="radio" id="question2Var3" name="question2" value="Prepare myself" />
	      <label for="question1Var3">ответ 3</label>
		  
		  <input type="radio" id="question2Var4" name="question2" value="Creature of steel" />
	      <label for="question1Var3">ответ 4</label>
	    </div>
		</fieldset>
		</form>
		
		<form action="/<string:profession>/<string:skills>/answer">
			<button type="submit" class="btn">К итогам »</button></form>
		<pre id="log"></pre>

	</body>

</html>
